body {
    padding: 0px;
    margin: 0px;

    background-color: beige;
    height: 100vh;
    display: grid;
    grid-template: 6rem 1fr 3rem / 20rem 1fr;
}

.header {
    background-color: aqua;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 20rem 6rem 6rem 1fr 5rem 5rem;
}

.sideBar {
    background-color: blueviolet;
    grid-row: 2 / 3;
    display: grid;
    justify-content: center;

    grid-template-rows: auto auto;
}

.main {
    background-color: cornsilk;
}

.footer {
    background-color: brown;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
